@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{font-family: 'Varela Round', sans-serif !important; background-color: #f1f1f1!important}


.nav-link{font-size: 120%;color: white !important;}
.nav-link:hover{
  color: #788092 !important;
  }
.navbar-brand{font-size: 200% !important;font-family: 'Permanent Marker', cursive; }

.navbar-toggler{background-color: grey !important; border-radius: 20% }
.footer-name{font-family: 'Permanent Marker', cursive;}

@media screen and (max-width: 332px){

.navbar-brand{font-size: 125% !important;}}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border: none;
}
.card:hover {
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
}
.card a {
color: initial;
}
.card a:hover {
text-decoration: initial;
}
.card .text-muted i {
margin: 0 10px;
}

.title-projects {
    font-family: 'Itim', cursive;
    margin-top: 7%;
    margin-bottom: 4%;
    font-weight: 900;
    font-size: 3.3em;
  }
  
  .title-projects .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .title-projects .letter {
    text-decoration:  underline;
    display: inline-block;
    line-height: 1em;
  }

  @media screen and (max-width: 800px){

    .title-projects{margin-top: 15%;}}
    
 