@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{font-family: 'Varela Round', sans-serif !important; background-color: #f1f1f1!important}
.carousel-inner img {
    width : 100%;
 }
.nav-link{font-size: 120%;color: white !important;}
.nav-link:hover{
  color: #788092 !important;
  }
.navbar-brand{font-size: 200% !important;font-family: 'Permanent Marker', cursive; }

.navbar-toggler{background-color: grey !important; border-radius: 20% }
.footer-name{font-family: 'Permanent Marker', cursive;}

@media screen and (max-width: 332px){

.navbar-brand{font-size: 125% !important;}}

@media screen and (max-width: 600px)
{ .carousel-inner img {
   height: 17em;
padding-top: 0% !important
 } 

.carousel-inner img{padding-top: 500px}}

.welcome {
    padding-top: 2.1%;
    font-weight: 900;
    font-size: 3.5em;
    font-family: 'Permanent Marker', cursive; ;
    text-align: center;  }
.about-me{

    text-align: center;
  }
.about-me h1{
    display: inline-block !important;
    text-transform: uppercase;
    border-bottom: 4px solid #2F4F4F;
    font-size: 20px;
    padding-bottom: 10px;
    margin-top: 40px;
  }
.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
.about-me-details{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
  }
.about-me-details:hover{
    background: #ddd;
  }
.about-me-details i{
    color: #2F4F4F;
    font-size: 34px;
    margin-bottom: 30px;
  }
.about-me-details h2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
  }
.about-me-details p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
  }
@media screen and (max-width: 800px) {
.about-me-details{
      width: 50%;
    }
  }
@media screen and (max-width: 500px) {
.about-me-details{
      width: 100%;
    }
  }
  
.images-langages-logiciels{width: 40%;padding-bottom:4% ;}

.images-tools{width:100%;padding-bottom:4% ;}
.raspberry-materiel{margin-right: 10%;}


